{%extends 'base.html'%}
{%load static%}
{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT OUR SHOP</h1>
            <p class="lead fw-normal text-white-50 mb-0">KNOW ABOUT THIS STORE MORE </p>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <div class="row">
    <center>
        <div class="col-8">
        <p align="justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus turpis pellentesque viverra ullamcorper. Aenean non mollis dolor. Sed bibendum, ex quis volutpat sodales, nunc dui sodales purus, ac pharetra sem ex in dolor. Fusce volutpat pellentesque erat ac sodales. Morbi ligula turpis, blandit sit amet laoreet ut, varius nec nisl. Cras in lacus et urna finibus laoreet. Curabitur pretium varius sollicitudin. Mauris eget mauris ultricies ex vulputate dictum. Vestibulum id congue libero. Praesent blandit neque arcu, id gravida diam ultricies quis. Praesent imperdiet interdum ante, quis tempus risus laoreet quis. Aliquam suscipit non tellus ac laoreet. Nam ornare quis tellus eget tincidunt. Nullam pharetra iaculis augue nec bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi fermentum eget diam sed iaculis.

    Maecenas accumsan mauris vitae mi faucibus, vel convallis dui elementum. Phasellus scelerisque egestas ligula, nec porta nibh bibendum et. Nulla tempor vestibulum turpis vel blandit. Quisque rhoncus bibendum lobortis. Duis ac est ut nibh viverra fringilla. Vestibulum pharetra dui a purus consectetur, quis vehicula justo tincidunt. Proin eget lacinia tellus, at faucibus quam. Integer nec interdum ex. Sed rhoncus turpis quis est efficitur faucibus. Proin nisi ipsum, dictum eu orci quis, rutrum sodales elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
    Morbi eget tempus lorem. Nam dignissim elementum tortor, id tempor turpis mollis eget. Etiam semper ultrices egestas. Quisque vel lacus elit. Quisque aliquam commodo mattis. Sed iaculis commodo lectus, vel mattis orci vehicula a. Quisque quis augue ante. Curabitur imperdiet vehicula nunc, a maximus tortor interdum ut. Fusce efficitur vestibulum purus ut malesuada. Cras id sem ac ex feugiat finibus. Fusce id enim in lectus fringilla volutpat sit amet eu felis. Vestibulum rutrum leo sit amet risus scelerisque efficitur. Praesent quis tempus dolor. Maecenas non neque in lorem malesuada commodo eu in massa.
    
    Curabitur neque sem, dapibus sit amet purus vel, bibendum commodo nibh. Vestibulum id faucibus diam. Nullam elementum tincidunt ultricies. Proin tincidunt justo in hendrerit ultricies. Aliquam viverra scelerisque sem ac sodales. Donec vehicula, risus sit amet dapibus aliquam, felis nibh consequat ipsum, tincidunt suscipit nisi ante eu magna. In non elementum dui.
    
    Nulla vel molestie ex. Aenean sagittis nibh erat. Aliquam neque velit, volutpat sed malesuada at, interdum nec orci. Duis porta finibus est. Cras fermentum mollis tempus. Aliquam erat volutpat. Suspendisse potenti.
    
    In in metus diam. Vivamus at consectetur turpis. In sagittis aliquet semper. Phasellus consequat tincidunt rutrum. Morbi sit amet tortor a mauris tempus ullamcorper vitae non erat. Phasellus in nisi sed orci tincidunt vehicula. Curabitur volutpat dolor ipsum, in porttitor neque ornare a. Proin vitae laoreet purus. Praesent rutrum commodo condimentum.
    
    Duis volutpat augue id rutrum finibus. Praesent efficitur consectetur ultricies. Sed suscipit suscipit sapien eu venenatis. Nullam ac porta augue. Aliquam eu magna eu neque aliquam consectetur. Nullam eget fermentum nisi. Nullam turpis quam, auctor cursus justo nec, hendrerit porta quam. Phasellus pretium risus velit, id sollicitudin metus semper ut. Etiam id arcu ac urna volutpat elementum. Ut in laoreet tortor, quis porttitor lectus. Nulla sed ex ut velit ornare dictum. Phasellus auctor imperdiet libero, sit amet dignissim mauris volutpat at. Duis vel turpis nisl.
    
    Pellentesque consectetur diam eu quam tempus faucibus. Morbi elementum placerat mauris, nec hendrerit leo bibendum eget. Nam pellentesque maximus eleifend. Duis porta, massa a imperdiet viverra, eros sapien volutpat quam, vitae mattis urna sem nec felis. Duis ultrices mi tortor. Donec ac enim nec enim vehicula vestibulum. Mauris pellentesque pulvinar tristique. Pellentesque urna eros, dapibus vel sapien ut, facilisis scelerisque eros. Quisque id nunc a leo faucibus tincidunt. Suspendisse maximus orci dolor, in pharetra massa semper id. Maecenas elementum elit quis lorem consectetur, in dapibus lacus vulputate. Praesent ultricies aliquet dolor, eget porttitor ante sollicitudin a. Proin ac maximus est, lacinia bibendum velit.
    
    Etiam ullamcorper tempus auctor. Duis congue malesuada mauris, eget dapibus ligula porta vitae. Sed nec bibendum lacus. Vivamus ultrices tortor nec accumsan ultrices. Nunc ac risus congue urna vulputate vestibulum at quis nulla. Nullam sagittis est eu lectus viverra convallis. Donec consequat elit vitae scelerisque sodales. Phasellus tempus porttitor tortor, vitae sagittis nisi vestibulum ac. Vivamus ut feugiat ex. Duis arcu purus, bibendum ut nisl in, tincidunt laoreet est. Donec dui ex, mollis vestibulum lacus eu, mollis lacinia turpis. Etiam facilisis id ligula sit amet cursus. Donec interdum aliquam varius. Duis rhoncus pellentesque interdum. Sed lacinia, ipsum ac ornare lacinia, nisi dui scelerisque felis, rhoncus pellentesque dui turpis id nulla.
    
    Maecenas id consectetur neque. Sed vehicula ipsum purus, at faucibus felis iaculis vel. Quisque imperdiet erat sapien, at vehicula nibh auctor ac. Phasellus ac sodales est. Cras maximus lectus vel mollis tincidunt. Nam leo justo, cursus vitae aliquam vitae, ultricies quis metus. Mauris non purus accumsan, eleifend neque vel, vehicula metus. Fusce accumsan tristique nibh ornare gravida. Aliquam dolor diam, aliquam non semper vel, dignissim quis ligula. Phasellus ac purus id velit convallis rhoncus.</p>
<br/><br/><br/><br/>
        </div>
    </center>
</div>
</div>
</body>
{%endblock%}