{%extends 'base.html'%}
{%load static%}
{%block content%}
<br/>

<body>
    <div class="container">

<!--card syntax-->
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>


          <!--sale-->
          {%if product.is_sale%}
          <strike> ${{product.price}} </strike>

          &nbsp; ${{product.sale_price}} 
          {%else%}
          ${{product.price}}
          <br/> Id : {{product.id}}
          {%endif%}
          <br/>
          <br/>
          <!--Add to cart button-->
          <a href="{% url 'index' %}" class="btn btn-secondary" >Home </a>
          <button type="button" value="{{product.id}}" class="btn btn-secondary" id="add-cart" > Add to cart </button>
        </div>
      </div>
  </div>
</div>

<!--end of card syntax-->

</div>
</div>
</body>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<!--lets create some javascript to this -->
<script>
  // Check if the button is pressed
  $(document).on('click', '#add-cart', function(e) {
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: '{% url "cart_add" %}',
          data: {
              product_id: $('#add-cart').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post',
          },
          success: function(json) {
              //console.log(json);
              document.getElementById("cart_quantity").textContent=json.qty
          },
          error: function(xhr, errmsg, err) {
              console.log('Error:', errmsg);
          }
      });
  });
  </script>
  
{%endblock%}